.App {
  text-align: center;
}

body {
  background-color: aquamarine;
}

.editor_card {

  padding: 0;
}

.editor_body {
  padding: 0;
}

.preview_card {
  text-align: left;
  padding:0;
}

.header {
  background-color: aqua;
  text-align: left;

  font-weight: bold;
}


textarea {
  width: 100%;
}

